@model CustomerViewModel


<h1 class="page-title">Crear Empleado</h1>
<div class="portlet blue box erp-portlet-form" id="FormEmpleado">

    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-plus"></i>
            <span id="titleForm">Nuevo Empleado</span>
        </div>
        <div class="tools">
            <a class="font-white" title="Insertar/Actualizar"><i class="fa fa-plus" id="AddEdit"></i></a>
        </div>
    </div>
    <div class="portlet-body form" id="FormDetail">

        <input data-val="true" data-val-number="El campo Tipo régimen debe ser un número." data-val-required="'Tipo régimen' no debe estar vacío." id="TERCOD" name="TERCOD" type="hidden" value="8095">
        <div class="form-body">
            <div class="tabbable-line" style="padding-top:0px;">
                <ul class="nav nav-tabs ">
                    <li class="active">
                        <a href="#tab_3_1" data-toggle="tab" aria-expanded="true"> Información Básica </a>
                    </li>
                </ul>
                <!-- SWITCH -->
                <!-- /SWITCH -->
                <div class="tab-content">
                    <div class="tab-pane padding-tb-15 active" id="tab_3_1">

                        <form id="form0" method="post" asp-action="Index" asp-controller="Home">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="onoffswitch gm-switch" style="-webkit-transform:  translateY(-60px) !important;    transform:  translateY(-60px) !important;">
                                @Html.EditorFor(model => model.State, new { htmlAttributes = new { @checked = "checked", @class = "onoffswitch-checkbox", @id = "chkEstado", @name = "TERACT", @value = "true" } })
                                <label class="onoffswitch-label" for="chkEstado">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="fileinput fileinput-new thumbnail text-center erp-fileinput-thumb" data-provides="fileinput">
                                        <div class="fileinput-new thumbnail">
                                            <img id="ImagenTercero" src="Theme/img/userDefault.jpg" alt="" style="max-width:100%">

                                        </div>
                                        <div class="fileinput-preview fileinput-exists thumbnail"></div>
                                        <div class="text-center">
                                            <span class="btn default btn-file">
                                                <span class="fileinput-new ">Subir Imagen </span>
                                                <span class="fileinput-exists">Cambiar</span>
                                                <input type="file" accept="image/x-png,image/gif,image/jpeg" name="imageUser" id="imageUser">
                                            </span>
                                            <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput">Quitar</a>
                                        </div>
                                    </div>
                                    <!-- END FILE INPUT -->
                                </div>
                                <!-- END MAIN COl 2 -->

                                <div class="col-md-10">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="FirstName" class="control-label"></label>
                                                <input asp-for="FirstName" class="form-control input-circle" id="TERNOM" name="TERNOM" placeholder="Nombre" type="text" value="">
                                                <span asp-validation-for="FirstName" class="field-validation-valid text-danger" data-valmsg-for="TERNOM" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="LastName" class="control-label"></label>
                                                <input asp-for="LastName" class="form-control input-circle" id="TERAPE" name="TERAPE" placeholder="Apellidos" type="text" value="">
                                                <span asp-validation-for="LastName" class="field-validation-valid text-danger" data-valmsg-for="TERAPE" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END ROW -->
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">Tipo de Documento</label>
                                                <select class="form-control">
                                                    <option>Seleccione</option>
                                                    <option>CÉDULA DE CIUDADANÍA</option>
                                                    <option>CÉDULA DE EXTRANJERÍA</option>
                                                    <option>PASAPORTE</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">Número Documento</label>
                                                <input class="form-control input-circle" id="TERDOC" maxlength="15" name="TERDOC" placeholder="Número Documento" type="text" value="">
                                                <span class="field-validation-valid text-danger" data-valmsg-for="TERDOC" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Correo Electrónico</label>
                                                <input class="form-control input-circle" id="TERMAIL" name="TERMAIL" placeholder="Correo Electrónico" type="text" value="">
                                                <span class="field-validation-valid text-danger" data-valmsg-for="TERMAIL" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Género</label>
                                                <select class="form-control">
                                                    <option>Seleccione</option>
                                                    <option>MASCULINO</option>
                                                    <option>FEMENINO</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Edad</label>
                                                <input class="form-control input-circle valid" id="TERCODAX" name="TERCODAX" placeholder="Edad" type="text" value="">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END ROW -->
                                </div>
                                <!-- END COl 10 -->
                            </div>
                            <!-- END ROW -->
                            <div class="form-actions right" style="margin-top:15px;" id="BotonesTerceros">
                                <button type="submit" class="btn btn-circle green margin-right-10 " title="Guardar  Empleados"><i class="fa fa-floppy-o">&nbsp;</i>Guardar </button>
                                <button type="button" class="btn btn-circle green btn-outline btn-border-1x" title="Cancelar operación"> Cancelar</button>
                            </div>
                        </form>

                        <!-- END ROW -->
                    </div>
                    <!--/END TAB 3_1 -->
                    <!--/END TAB 3_2 -->
                </div>
                <!--/END TAB CONTENTS -->
            </div>
            <!--/TABB LINE-->
        </div>

    </div>
</div>
